<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
<!-- Cuando el usuario hace el posteo del form o pulsa enter utilizamos submit -->
        <form (ngSubmit)="buscar()" autocomplete="off" action="">
<!--  el ng model usa el two databinding en termino debe estar definido por-pais.ts -->
            <input type="text" name="termino"
                   [(ngModel)]="termino" 
                   class="form-control"
                   placeholder="Buscar Pais"/>
        </form>
    </div>
</div>
<hr>

<div *ngIf="hayError"
    class="alert alert-danger">
    No se encontro nada con el termino {{termino}}
</div>
<div *ngIf="!hayError" class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bandera</td>
                    <td>}nombre</td>
                    <td>123456789</td>
                    <td>
                        <a href="#">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
